body {
    margin-left: 50%;
}

.header {
    width: 1440px;
    height: 1024;
    left: 0px;
    right: 0px;
}

/* navigation */

.div_header {
    position: absolute;
    top: 64px;
    left: 72px;
    display: flex;
    width: 1296px;
    height: 64px;
    justify-content: space-around;
    align-items: center;
}

.div_header h1 {
    margin-left: -72px;
}

.light_img {
    width: 159px;
    height: 40px;
}

.nav_bar {
    width: 392px;
    height: 24px;
    display: flex;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    color: #ADADAD;
    font-size: 18px;
    line-height: 24px;
    justify-content: space-around;
}

.nav_bar li:hover {
    color: #5468E7;
}

.contact_us {
    width: 180px;
    height: 64px;
    background: #232340;
    border-radius: 8px;
    color: #FFFFFF;
}

/* imagem de fundo */

.path_img {
    position: absolute;
    width: 642.21px;
    height: 819.25px;
    left: 321px;
    top: 0.98px;

}

/* Texto Stand Out */

.div_stand {
    width: 467px;
    height: 548px;
    position: absolute;
    top: 238px;
    left: 135px;

}

.div_stand h2 {
    font-family: 'SF Pro Display';
    font-size: 84px;
    font-weight: 700;
    text-align: left;
    color: #232340;
}

.div_stand p {

}

.div_stand button {

}